*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

#hero{
    width: 100%;
    height: 100vh;

    background-image: url('./Radiance_img/bg1.png');
    background-size: cover;
    background-position: center;

    position: relative;
}

.navbar{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.navbar .logo{
    width: 60px;
    margin: 0 20px;
    cursor: pointer;
}

.user{
    display: flex;
    align-items: center;
}

.user img{
    width: 120px;
    cursor: pointer;
    margin: 40px 0;
}

.user a{
    border: 2px solid #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 70px;
    text-transform: uppercase;
    font-size: 1em;
    border-radius: 20px;
    color: #fff;
}

.container{
    width: 50%;
    height: 100vh;
    background-color: rgba(86,86,86,.3);
    filter: blur(50%);
    position: absolute;
    left: 0;
    top: 0;
}

.container .info{
    width: 600px;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-flow: column nowrap;
}

.container .info h1{
    font-size: 3em;
    letter-spacing: 20px;
    border-bottom: 2px solid #fff;

    margin: 20px 0;
    text-transform: uppercase;
}

.container .info p{
    font-size: 16px;
    text-transform: capitalize;
    line-height: 20px;
    margin: 0 20px;
}

.container .info p::first-letter{
    color: rgb(192, 166, 166);
    font-size: 40px;
    font-weight: 400;

    padding-right: 2px;
}

.slider{
    transition: all 1.2s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 60px;
    bottom: 40px;
}

.slider #left_arrow, .slider #right_arrow{
    width: 40px;
    height: 20px;
    cursor: pointer;
}

.slider .images{
    transition: all 1s linear;
    display: flex;
    align-items: center;
}

.slider .images > img{
    transition: all 1.4s linear;
    width: 80px;
    padding: 10px;
    margin: 0 10px;
    opacity: .3;
    cursor: pointer;
}

.slider .images .--active{
    transition: opacity .8s ease;
    transform: scale(1.1);
    border: 2px solid #fff;
    border-radius: 10px;
    opacity: 1;
}