/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

*, ::after, ::before, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

:root {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/* end reset browser styles */
.menu > .menu_btn.active {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none; }

:root {
  background-color: #000;
  scroll-behavior: smooth; }

.menu {
  position: fixed;
  display: block;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  -webkit-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out; }
  .menu > .links {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    position: absolute;
    right: -100%;
    bottom: auto;
    width: 20%;
    border: 3px solid #fff;
    background: transparent;
    -webkit-transition: .8s all ease-in-out;
    transition: .8s all ease-in-out;
    border-radius: 20px 0 80px 20px; }
    .menu > .links > .animate {
      z-index: 100;
      color: #e91d62;
      border: 2px solid #e91d62;
      padding: 15px .84rem;
      margin: 20px;
      margin-right: 40px;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 10px;
      border-radius: 40px 20px 20px 40px;
      cursor: pointer;
      -webkit-transition: color .7s ease-in-out;
      transition: color .7s ease-in-out; }
      .menu > .links > .animate.animate:hover {
        color: #fff;
        -webkit-transition: all .7s ease-in-out;
        transition: all .7s ease-in-out; }
    .menu > .links.active_a {
      position: absolute;
      bottom: auto;
      right: 0;
      -webkit-transition: .4s all ease-in-out;
      transition: .4s all ease-in-out; }
  .menu > .menu_btn {
    position: absolute;
    right: 10px;
    top: 10%;
    width: 60px;
    height: 6px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
            box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    -webkit-transition: .5s all ease-in-out;
    transition: .5s all ease-in-out;
    cursor: pointer;
    border-radius: 20px; }
    .menu > .menu_btn.active {
      width: 30px;
      height: 5px; }
    .menu > .menu_btn.active::before {
      -webkit-transform: rotate(45deg) translate(35px, -35px);
              transform: rotate(45deg) translate(35px, -35px);
      width: 30px;
      height: 5px; }
    .menu > .menu_btn.active::after {
      -webkit-transform: rotate(-45deg) translate(35px, 35px);
              transform: rotate(-45deg) translate(35px, 35px);
      width: 30px;
      height: 5px; }
    .menu > .menu_btn::after, .menu > .menu_btn::before {
      content: "";
      width: 60px;
      height: 6px;
      background-color: #fff;
      -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
              box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
      -webkit-transition: .5s all ease-in-out;
      transition: .5s all ease-in-out;
      border-radius: 20px;
      position: absolute; }
    .menu > .menu_btn::before {
      -webkit-transform: translateY(-16px);
              transform: translateY(-16px); }
    .menu > .menu_btn::after {
      -webkit-transform: translateY(16px);
              transform: translateY(16px); }

/*# sourceMappingURL=index.css.map */